<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>DoBuy - Lifestyle</title>




<style>
    .admin-feature-bar {
   
  /* background-color: rgba(173, 137, 100, 0.65); 深棕色背景，具有透明感 */
  border-radius: 10px;
 
}

#example {
    margin-left: 20px; /* 調整左邊距離 */
}

.admin-feature-list {
    display: flex;
    justify-content: center; /* 水平置中 */
    list-style: none;
   
    
    border-bottom: 1px solid #ddd; /* 下方邊框 */
    background: linear-gradient(to bottom,rgba(173, 129, 85, 0.9), rgba(128, 95, 63, 0.99), rgba(128, 95, 63, 0.99));    margin-top: 0;
  border-radius: 10px; /* 圓角 */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); /* 添加陰影 */
  padding: 10px 0;
    
}

.admin-feature-list li {
    margin: 0 100px; /* 每個項目間距 */
   margin-left: 20px;
    
}

.admin-feature-list li a {
    color: #130f0f; /* 字體設為白色 */
  /* padding: 10px 15px; */
  transition: background-color 0.3s;
  border-radius: 6px;
  /* padding-right: 20px; */
  padding: 10px;
}

.admin-feature-list li a:hover {
    text-decoration: underline;
    background-color: rgba(141, 129, 115, 0.65);
}

    .profile-container {
    width: 60%;
    margin: 10px 10%;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

.profile-info {
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.profile-gender input {
    margin-right: 5px;
}

.profile-birthday select {
    padding: 8px;
    margin-right: 5px;
}

.save-btn {
    margin-top: 20px;
    padding: 10px;
    background-color: #ff4500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

</style>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
 <link rel="stylesheet" href="/back-end-home/css/style.css">
    <link rel="icon" href="img/core-img/favicon.ico">
   
 
</head>

<body>
   <!-- Preloader -->
    <div id="preloader">
        <div class="preload-content">
            <div id="original-load"></div>
        </div>
    </div>



    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Breaking News Area -->
                    <div class="col-12 col-sm-8">
                        <div class="breaking-news-area">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><a href="#">Hello Staff!</a></li>
                                    <li><a href="#">Hello Universe!</a></li>
                                    <li><a href="#">Hello Earth!</a></li>
                                    <li><a href="#">Hello DoBuy!</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <a href="#" class="original-logo"><img src="img/core-img/logo noback.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nav Area -->
        <div class="original-nav-area" id="stickyNav">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu" id="originalNav">
                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a  class="dropdown-font" href="/back-end-homepage">首頁</a></li>
                                    <li><a href="#">會員管理</a>
                                        <ul  class="dropdown">
                                            <li><a href="#">會員管理</a></li>
                                            <li><a href="#">會員管理訂單管理</a></li>
                                            <li><a href="#">商品審核</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">櫃位管理</a>
                                        <ul class="dropdown">
                                            <li><a href="#">櫃位管理專區</a></li>
                                            <li><a href="#">櫃位商城開設審核</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="#">商城系統</a>
                                        <ul class="dropdown">
                                            <li><a href="#">首頁輪播圖管理</a></li>
                                            <li><a href="#">商品分類管理</a></li>
                                        </ul>
                                    </li>
                                        
                                    <li><a href="#">管理員資料</a>
                                        <ul class="dropdown">
                                            <li><a href="#" id="1">管理員資料管理</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#">優惠管理</a>
                                        <ul class="dropdown">
                                            <li><a href="#">平台優惠活動管理</a></li>
                                            <li><a href="#">廠商優惠券管理</a></li>
                                            <li><a href="#">優惠訊息通知</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="#">客服系統</a>
                                        <ul class="dropdown">
                                            <li><a href="#">FAQ專案管理</a></li>
                                            <li><a href="#">客服訊息回覆</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                <!-- Search Form  -->
                                <div id="search-wrapper">
                                    <form action="#">
                                        <input type="text" id="search" placeholder="Search something...">
                                        <div id="close-icon"></div>
                                        <input class="d-none" type="submit" value="">
                                    </form>
                                </div>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
     
<br>
 <table id="example">
<thead>
    <tr>
        <th>會員編號</th>
        <th>會員帳號</th>
        <th>會員密碼</th>
        <th>會員姓名</th>
        <th>會員地址</th>
        <th>會員手機</th>
        <th>會員身分證</th>
        <th>會員信箱</th>
        <th>會員性別</th>
        <th>會員生日</th>
        <th>會員狀態</th>
        <th>會員創建日期</th>
        <th>會員修改日期</th>
        <th>密碼提示驗證</th>
        <th>密碼提示答案</th>
        <th>修改密碼時間</th>
        <th>信箱驗證</th>
        
        <th th:if=${isAdmin}>修改</th>
        <th th:if=${isAdmin}>刪除</th>
    </tr>
</thead>


  <th:block th:each="memVO : ${memlist}">
    <tr>
        <td th:text="${memVO.memNo}"></td> <!-- 顯示會員編號 -->
        <td th:text="${memVO.memAccount}"></td> <!-- 顯示會員帳號 -->
        <td th:text="${memVO.memPassword}"></td> <!-- 顯示會員密碼 -->
        <td th:text="${memVO.memName}"></td> <!-- 顯示會員姓名 -->
        <td th:text="${memVO.memAddress}"></td> <!-- 顯示會員地址 -->
        <td th:text="${memVO.memPhone}"></td> <!-- 顯示會員手機 -->
        <td th:text="${memVO.memUID}"></td> <!-- 顯示會員身分證 -->
        <td th:text="${memVO.memEmail}"></td> <!-- 顯示會員信箱 -->
        <td th:text="${memVO.memSex == 1 ? '男' : '女'}"></td> <!-- 顯示會員性別 -->
        <td th:text="${#dates.format(memVO.memBirth, 'yyyy-MM-dd')}"></td> <!-- 顯示會員生日，格式化日期 -->
        
        <!-- 會員狀態下拉選單 -->
       <td>
    <form action="/back-end/updateStatus" method="post">
    
        <select name="memStatus" th:value="${memVO.memStatus}">
            <option th:value="0" th:selected="${memVO.memStatus == 0}" th:text="'停權'"></option>
            <option th:value="1" th:selected="${memVO.memStatus == 1}" th:text="'正常'"></option>
            <option th:value="2" th:selected="${memVO.memStatus == 2}" th:text="'禁止販賣'"></option>
        </select>
        <input type="hidden" name="memNo" th:value="${memVO.memNo}" /> <!-- 會員編號，用於識別要更新的會員 -->
        <button type="submit" class="btn btn-primary">修改</button>
    </form>
</td>


        
        <td th:text="${#dates.format(memVO.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td> <!-- 顯示會員創建日期 -->
        <td th:text="${#dates.format(memVO.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td> <!-- 顯示會員修改日期 -->
        <td th:text="${memVO.memPasswordHint}"></td> <!-- 顯示密碼提示驗證 -->
        <td th:text="${memVO.memPasswordHintAnswer}"></td> <!-- 顯示密碼提示答案 -->
        <td th:text="${#dates.format(memVO.memPasswordChangedAt, 'yyyy-MM-dd HH:mm:ss')}"></td> <!-- 顯示修改密碼時間 -->
        
        <!-- 信箱驗證狀態 -->
        <td th:text="${memVO.memEmailChecked == 1 ? '已驗證' : '未驗證'}" style="white-space: nowrap;"></td> <!-- 顯示信箱驗證，防止換行 -->
    </tr>
</th:block>

</table>
      

</body>
    <script src="/js/jquery3.7.1.js"></script>
<script	src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>    
        Popper js
        <script src="/back-end-home/js/popper.min.js"></script>
        Bootstrap js
        <script src="/back-end-home/js/bootstrap.min.js"></script>
        Plugins js
        <script src="/back-end-home/js/plugins.js"></script>
        Active js
        <script src="/back-end-home/js/active.js"></script>
<script>


$(document).ready(function() {
	
	
    // 初始化 DataTable
    var table = $('#example').DataTable({
        "lengthMenu": [3, 5, 10, 20, 50, 100],
        "pageLength": 10,
        "searching": true,
        "paging": true,
        "ordering": true,
        "language": {
            "processing": "處理中...",
            "loadingRecords": "載入中...",
            "lengthMenu": "顯示 _MENU_ 筆結果",
            "zeroRecords": "沒有符合的結果",
            "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
            "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
            "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
            "infoPostFix": "",
            "search": "搜尋:",
            "paginate": {
                "first": "第一頁",
                "previous": "上一頁",
                "next": "下一頁",
                "last": "最後一頁"
            },
            "aria": {
                "sortAscending": ": 升冪排列",
                "sortDescending": ": 降冪排列"
            }
        }
    });

});
   
  




</script>

</html>