<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>DoBuy - Lifestyle</title>

	<!-- 套入fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" /> <!-- ●●css for jquery datatables 用 -->
    
    <!-- Favicon -->
    <link rel="icon" href="back-end-home/img/core-img/logo noback.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="back-end-home/css/style.css">



	<link rel="stylesheet" href="back-end-home/css/login.css">


<style type="text/css">
/* 父容器 */
/* 表格設置 */
table {
    width: 100%; /* 表格占滿父容器 */
    table-layout: fixed; /* 固定表格佈局，讓欄位等寬 */
    border-collapse: collapse; /* 合併邊框 */
    background-color: white; /* 可選，表格背景色 */
    opacity: 0.9;
}

/* 表頭和內容設置 */
th, td {
     position: relative; /* Slick 的定位基於此 */
    border: 1px solid #ddd; /* 表格單元格邊框 */
    padding: 10px; /* 單元格內邊距 */
    text-align: center; /* 文字置中 */
    overflow: hidden; /* 隱藏超出內容 */
    text-overflow: ellipsis; /* 顯示省略號 */
    vertical-align: middle; /* 垂直置中對齊 */
    height: 100px; /* 設定每個欄位的預設高度 */
    
}

/* 表頭設置 */
th {
    background-color: #f8f8f8; /* 表頭背景色 */
    font-weight: bold; /* 表頭文字加粗 */
}
th.col-sellerNo, td.col-sellerNo {
    width: 3%; /* 商品編號欄寬度 */
}
/* 各個欄位的寬度設置 */
th.col-usedNo, td.col-usedNo {
    width: 3%; /* 商品編號欄寬度 */
}

th.col-usedName, td.col-usedName {
    width: 5%; /* 商品名稱欄寬度 */
    max-height: 100px; /* 限制最大高度 */
    overflow: hidden; /* 隱藏超出內容 */
    text-overflow: ellipsis; /* 顯示省略號 */
    white-space: nowrap; /* 不換行 */
}

th.col-classNo, td.col-classNo {
    width: 5%; /* 商品類別欄寬度 */
}

th.col-usedPrice, td.col-usedPrice {
    width: 5%; /* 價格欄寬度 */
}

th.col-usedStocks, td.col-usedStocks {
    width: 3%; /* 庫存量欄寬度 */
}

th.col-usedPics, td.col-usedPics {
    width: 8%; /* 照片欄寬度 */
}

th.col-usedProDesc, td.col-usedProDesc {
     width: 6%; /* 二手商品描述欄寬度 */
    max-height: 100px; /* 限制最大高度 */
    overflow: hidden; /* 隱藏超出內容 */
    text-overflow: ellipsis; /* 顯示省略號 */
    white-space: nowrap; /* 不換行 */
}

th.col-usedNewness, td.col-usedNewness {
    width: 6%; /* 新舊程度欄寬度 */
}

th.col-usedLaunchedTime, td.col-usedLaunchedTime {
    width: 6%; /* 上架時間欄寬度 */
}

th.col-soldTime, td.col-soldTime {
    width: 6%; /* 下架時間欄寬度 */
}

th.col-usedState, td.col-usedState {
    width: 3%; /* 商品狀態欄寬度 */
}

th.col-modify, td.col-modify {
    width: 3%; /* 修改欄寬度 */
}

th.col-delete, td.col-delete {
    width: 3%; /* 刪除欄寬度 */
}

/* 限制圖片大小 */
td img {
    max-width: 100px; /* 最大寬度限制為 100px */
    max-height: 100px; /* 最大高度限制為 100px */
    min-width: 100px;
    min-height: 100px;
    width: auto; /* 確保圖片寬高比一致 */
    height: auto; /* 確保圖片寬高比一致 */
}



/* 按鈕設置 */
button {
    width: 90%; /* 按鈕寬度與表格單元格一致，並略小一點以有些間距 */
    box-sizing: border-box; /* 包含邊框和內邊距 */
    padding: 5px; /* 增加內邊距 */
    cursor: pointer; /* 滑鼠移過按鈕時顯示手型 */
}

button:hover {
    background-color: #e0e0e0; /* 按鈕 hover 效果 */
}

.photo-slider {
    width: 100%; /* 確保滑動區域寬度填滿父容器 */
    overflow: hidden; /* 隱藏超出範圍的內容 */
}

.photo-slider .slick-track {
    display: flex; /* 使滑動項目水平排列 */
    overflow: hidden; /* 隱藏超出範圍的內容 */
}

.photo-slider .slick-slide {
    width: 100%; /* 每張圖片寬度填滿滑動容器 */
    display: flex;
    justify-content: center; /* 圖片水平居中 */
    align-items: center; /* 圖片垂直居中 */
    overflow: hidden; /* 確保每張圖片以外的部分不可見 */
}

.photo-slider img {
    max-width: 100%; /* 圖片寬度不超過滑動容器 */
    max-height: 100%; /* 限制圖片高度 */
    object-fit: cover; /* 保持圖片比例並填滿容器 */
}
	
	</style>

</head>

<body>




    <!-- Preloader -->

    <div id="preloader-ex">
        <div class="loader-ex">
            <div class="arc arc1"></div>
            <div class="arc arc2"></div>
            <div class="arc arc3"></div>
        </div>
    </div>

<!-- 登入及顯示管理員姓名 -->
<div class="admin-controls">
<div class="admin-name">
    <i class="fas fa-user-circle"></i>
<span th:text="${session.managerName != null ? session.managerName : '管理員'}">管理員</span>
</div>
    
    <form th:action="@{/logout}" method="get" style="margin: 0;">
        <button type="submit" class="logout-btn">
            <i class="fas fa-sign-out-alt"></i>
        </button>
    </form>
</div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Breaking News Area -->
                    <div class="col-12 col-sm-8">
                        <div class="breaking-news-area">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><a th:href="@{/back-end-homepage}">Hello Staff!</a></li>
                                    <li><a th:href="@{/back-end-homepage}">Hello Universe!</a></li>
                                    <li><a th:href="@{/back-end-homepage}">Hello Earth!</a></li>
                                    <li><a th:href="@{/back-end-homepage}">Hello DoBuy!</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <a th:href="@{/back-end-homepage}" class="original-logo"><img src="back-end-home/img/core-img/logo noback.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nav Area -->
        <div class="original-nav-area" id="stickyNav">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu" id="originalNav">
                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a class="dropdown-font" th:href="@{/back-end-homepage}">首頁</a></li>
                                    <li><a href="#">會員管理</a>
                                        <ul class="dropdown">
                                            <li><a href="/back-end/member">會員管理</a></li>
                                            <li><a href="/back-end/memberorder">會員管理訂單管理</a></li>
                                        </ul>
                                    </li>
                                    
									<li><a href="#">櫃位系統</a>
										<ul class="dropdown">
											<li><a th:href="@{/back-end/counter}">櫃位管理專區</a></li>
											<li><a th:href="@{/monthsettlement/addMonthSettlement}">抽成月結</a></li>
										</ul></li>
                                    
                                    <li><a href="#">商城系統</a>
                                        <ul class="dropdown">
                                            <li><a th:href="@{/storecarousel/listAllStorecarouseltest}">首頁輪播圖管理</a></li>
                                            <li><a th:href="@{/goodstype/listAllGoodsType}">商品分類管理</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="#">商品審核系統</a>
                                        <ul class="dropdown">
                                            <li><a th:href="@{/goods/listAllCheckStatus}">一般商品審核</a></li>
                                            <li><a id="used-check">二手商品審核</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="#">管理員資料</a>
                                        <ul class="dropdown">
                                          <li>
   										 <a th:href="@{'/manager/manager?managerNo=' + ${session.managerNo}}">管理員資料管理</a>
										</li>
                                        </ul>
                                    </li>

                                    <li><a href="#">優惠管理</a>
                                        <ul class="dropdown">
                                            <li><a th:href="@{/discount/listAllDiscount}">平台優惠活動管理</a></li>
                                            <li><a th:href="@{/coupon/approve}">廠商優惠券管理</a></li>
                                        </ul>
                                    </li>

<!--                                     <li><a href="#">客服系統</a> -->
<!--                                         <ul class="dropdown"> -->
<!--                                             <li><a href="#">客服訊息回覆</a></li> -->
<!--                                         </ul> -->
<!--                                     </li> -->
                                </ul>

                                <!-- Search Form  -->
<!--                                 <div id="search-wrapper"> -->
<!--                                     <form action="#"> -->
<!--                                         <input type="text" id="search" placeholder="Search something..."> -->
<!--                                         <div id="close-icon"></div> -->
<!--                                         <input class="d-none" type="submit" value=""> -->
<!--                                     </form> -->
<!--                                 </div> -->
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- ##### Blog Wrapper Start ##### -->
    <div class="blog-wrapper section-padding-100 clearfix">
    <div class="usedcheckarea">
        <div class="container">
            <div class="row align-items-end">
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-area clearfix mb-100">
                        <!-- Blog Content -->
                        <div class="single-blog-content">
                            <div class="line"></div>
                            <a href="#" class="post-tag">公告</a>
                            <h4><a href="https://www.tibame.com/goodjob/Java/location/JungliCenter" class="post-headline" target="_blank">Java雲端服務開發技術養成班112期</a></h4>
                            <p>因應國外部門業務拓展，行銷部門現正進行內部人才招募，誠徵資深企劃專員一名。具備三年以上企劃經驗者優先考慮。有意者請於12/20前向人資部門提交履歷及自薦信。</p>
                            <a href="#" class="btn original-btn">更多</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-catagory-area clearfix mb-100">
                        <img src="back-end-home/img/blog-img/2024-12-18 095304.png" alt="">

                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">

                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s"
                        data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="single-blog-thumbnail">
                                    <img src="back-end-home/img/blog-img/class.webp" alt="">
                                    <div class="post-date">
                                        <a href="#">27日 <span>12月</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">最新消息</a>
                                    <h4><a href="#" class="post-headline">課程通知</a></h4>
                                    <p>2024年第一季教育訓練課程表 人資部規劃2025年第一季(1-3月)教育訓練課程如下，請各部門主管協助安排人員參訓。
                                    </p>
                                    <a href="#" class="btn original-btn">更多</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.3s"
                        data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="single-blog-thumbnail">
                                    <img src="back-end-home/img/blog-img/foodmeeting.webp" alt="">
                                    <div class="post-date">
                                        <a href="#">27 <span>12月</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">活動公告</a>
                                    <h4><a href="#" class="post-headline">餐敘活動</a></h4>
                                    <p>為促進各部門同仁交流聯誼，本公司將舉辦2024年第一季部門聯誼餐敘活動，詳細資訊如下：
                                    </p>
                                    <a href="#" class="btn original-btn">更多</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.4s"
                        data-wow-duration="1000ms">
                        <div class="row">
                            <div class="col-12">
                                <div class="single-blog-thumbnail">
                                    <img src="back-end-home/img/blog-img/event.webp" alt="">
                                    <div class="post-date">
                                        <a href="#">20 <span>12月</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <!-- Blog Content -->
                                <div class="single-blog-content mt-50">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">每週期程</a>
                                    <h4><a href="#" class="post-headline">2024年12月23日至12月27日重大會議活動</a></h4>
                                    <p>12月23日(週一)
                                        平台年終特賣活動開跑
                                        聖誕節配送高峰期開始,物流配送時間延長2-3天
                                        客服人力增加30%應對假期詢問高峰
                                        啟動節慶詐騙防範機制</p>
                                    <a href="#" class="btn original-btn">更多</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- ##### Blog Wrapper End ##### -->

        <!-- ##### Instagram Feed Area Start ##### -->
        <div class="instagram-feed-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="insta-title">
                            <h5>Happy Staff Happy Company</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Instagram Slides -->
            <div class="instagram-slides owl-carousel">
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="back-end-home/img/instagram-img/1.png" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart fa-beat-fade"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="back-end-home/img/instagram-img/2.png" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart fa-beat-fade"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="back-end-home/img/instagram-img/3.png" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart fa-beat-fade"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="back-end-home/img/instagram-img/4.png" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart fa-beat-fade"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="back-end-home/img/instagram-img/5.png" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart fa-beat-fade"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="back-end-home/img/instagram-img/6.png" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart fa-beat-fade"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="back-end-home/img/instagram-img/7.png" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart fa-beat-fade"></i></a>
                    </div>
                </div>
            </div>
        </div>
</div>
        <!-- ##### Footer Area Start ##### -->
        <footer class="footer-area text-center">
            <div class="container">
                <div class="row">

                </div>
            </div>

            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
             All rights reserved | <i class="fa-regular fa-heart fa-bounce"></i> by <a th:href="@{/back-end-homepage}" target="_blank">DOBUY</a>

        </footer>
        <!-- ##### Footer Area End ##### -->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> -->
        <script src="back-end-home/js/jquery/jquery-2.2.4.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>



        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <!-- Popper js -->
        <script src="back-end-home/js/popper.min.js"></script>
<!--         Bootstrap js -->
        <script src="back-end-home/js/bootstrap.min.js"></script>
<!--         Plugins js -->
        <script src="back-end-home/js/plugins.js"></script>
<!--         Active js -->
        <script src="back-end-home/js/active.js"></script>
        

        <script>
            // 當頁面完全載入後執行
            window.addEventListener('load', function () {
                var preloader = document.getElementById('preloader-ex');

                // 加入 'fade-out' class 以啟動淡出動畫
                preloader.classList.add('fade-out');

                // 1秒後完全隱藏 Preloader
                setTimeout(function () {
                    preloader.style.display = 'none';
                }, 1000); // 與動畫時長相同
            });
        </script>
        
		<script>
		    function submitApproval(goodsNo) {
		        if (!goodsNo) {
		            window.location.href = '/goods/listAllCheckStatus';
		            return;
		        }
		
		        const checkStatus = 1;
		        fetch('/goods/updateCheckStatus2', {
		            method: 'POST',
		            headers: {
		                'Content-Type': 'application/x-www-form-urlencoded',
		            },
		            body: 'goodsNo=' + goodsNo + '&checkStatus=' + checkStatus
		        })
		        .then(response => {
		            if (!response.ok) {
		                throw new Error('Network response was not ok');
		            }
		            return response.text();
		        })
		        .then(result => {
		            alert(result);
		            // 可能需要重新加載頁面或更新UI
		            window.location.reload();
		        })
		        .catch(error => {
		            console.error('Error:', error);
		            alert('審核失敗：' + error.message);
		        });
		    }
		    
		   
		
		    
		  //=====================二手商品管理事件====================================
		    $(document).ready(function() {
		        // 当 span id 为 a1 的元素被点击时，触发 AJAX 事件
		        $('#used-check').click(function() {
		            // 使用AJAX从后端以POST方式获取数据
		            $.ajax({
		                url: '/used/getAllSellerUsedListFragment', // 服务器端 API，返回 Thymeleaf 片段
		                type: 'POST',
		                success: function(response) {
		                    console.log("Fragment HTML:", response); // 打印返回的 HTML，便于调试

		                    // 使用 fragment 替换 <div class="use_1">
		                    $('.usedcheckarea').html(response);
		                    initializeSlick();
		                    
		                    // 检查并销毁已有 DataTables 实例
		                    if ($.fn.DataTable.isDataTable('#UsedList')) {
		                        $('#UsedList').DataTable().destroy();
		                    }

		                 // 初始化 DataTables
		                    var table = $('#UsedList').DataTable({
		                        "lengthMenu": [3, 5, 10, 20, 50, 100],
		                        "searching": true,
		                        "paging": true,
		                        "ordering": true,
		                        "language": {
		                            "processing": "處理中...",
		                            "loadingRecords": "載入中...",
		                            "lengthMenu": "顯示 _MENU_ 筆結果",
		                            "zeroRecords": "沒有符合的結果",
		                            "info": "顯示第 _START_ 至 _END_ 筆結果，共<font color=red> _TOTAL_ </font>筆",
		                            "infoEmpty": "顯示第 0 至 0 筆結果，共 0 筆",
		                            "infoFiltered": "(從 _MAX_ 筆結果中過濾)",
		                            "paginate": {
		                                "first": "第一頁",
		                                "previous": "上一頁",
		                                "next": "下一頁",
		                                "last": "最後一頁"
		                            }
		                        }
		                    });

		                    // 初始化 Slick 特效
		                    function initializeSlick() {
							    $('.photo-slider').not('.slick-initialized').slick({
							    	dots: false, // 禁用點狀導航
							        infinite: true, // 禁用無限滾動
							        speed: 300, // 滑動速度
							        slidesToShow: 1, // 每次只顯示一張圖片
							        slidesToScroll: 1, // 每次滑動一張圖片
							        adaptiveHeight: true, // 自適應高度
							        arrows: false, // 禁用 previous 和 next 按鈕
							        centerMode: false, // 禁用居中模式
							        variableWidth: false // 禁用可變寬度，讓所有圖片固定尺寸
							        
							    });
							    
							}


		                    // 初次载入时初始化 Slick
		                    initializeSlick();

		                    // 监听 DataTables 分页切换事件，重新初始化 Slick
		                    $('#UsedList').on('draw.dt', function () {
		                        initializeSlick();
		                    });
		                },
		                error: function(xhr, status, error) {
		                    console.error('Error fetching used list data:', error);
		                }
		            });
		        });
		    });

		    //====================二手商品刪除事件======================

		    document.addEventListener("DOMContentLoaded", function () {
		        // 初始化外部 DataTable
		        let dataTable;

		        // 动态绑定嵌入 DataTable 的删除按钮事件
		        document.body.addEventListener('click', function (event) {
		            if (event.target.classList.contains('deleteUsed')) {
		                const button = event.target;

		                // 获取绑定的商品编号 (usedNo)
		                const usedNo = button.getAttribute('data-usedNo');

		                // 确认删除操作
		                if (!confirm(`確定要刪除商品編號 ${usedNo} 嗎？`)) return;

		                // 发送删除请求
		                fetch(`/used/deleteUsed`, {
		                    method: 'POST',
		                    headers: {
		                        'Content-Type': 'application/json'
		                    },
		                    body: JSON.stringify({ usedNo: usedNo }) // 将 usedNo 发送到后端
		                })
		                    .then(response => response.json()) // 将响应解析为 JSON
		                    .then(data => {
		                        if (data.success) {
		                            alert(data.message); // 显示成功消息

		                            
		    						$('#used-check').click();// 重新觸發一次click事件取得 fragment
		                        } else {
		                            alert(`刪除失敗：${data.message}`);
		                        }
		                    })
		                    .catch(error => {
		                        console.error('刪除過程中發生錯誤:', error);
		                        alert('刪除過程中發生錯誤');
		                    });
		            }
		        });

		        // 当页面动态嵌入 DataTable 后，重新初始化 DataTable
		        function initializeDataTable() {
		            if (dataTable) {
		                dataTable.destroy(); // 如果 DataTable 已初始化，先销毁
		            }

		            // 重新初始化 DataTable
		            dataTable = $('#UsedList').DataTable({
		                paging: true,
		                searching: true,
		                ordering: true
		            });
		        }

		        // 假设触发嵌入 DataTable 的点击事件
		        document.getElementById('loadDataTableButton').addEventListener('click', function () {
		            // 模拟嵌入新表格（根据你的需求可能是 AJAX 或其他加载方式）
		            // 这里假设 DataTable 已嵌入 DOM 中

		            // 初始化新的 DataTable
		            initializeDataTable();
		        });
		    });
		    
		    
		    
		    
		    
		</script>
        
</body>

</html>