<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>DoBuy - Lifestyle</title>

    <!-- Favicon -->
    <link rel="icon" href="back-end-home/img/core-img/logo noback.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="back-end-home/css/style.css">

	<!-- 套入fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


	<link rel="stylesheet" href="back-end-home/css/login.css">


	<style>

	
	</style>


</head>

<body>




    <!-- Preloader -->

    <div id="preloader-ex">
        <div class="loader-ex">
            <div class="arc arc1"></div>
            <div class="arc arc2"></div>
            <div class="arc arc3"></div>
        </div>
    </div>

<!-- 登入及顯示管理員姓名 -->
<div class="admin-controls">
<div class="admin-name">
    <i class="fas fa-user-circle"></i>
    <span th:text="${session.managerAccount != null ? session.managerAccount : '管理員'}">管理員</span>
</div>
    
    <form th:action="@{/logout}" method="get" style="margin: 0;">
        <button type="submit" class="logout-btn">
            <i class="fas fa-sign-out-alt"></i>
            登出
        </button>
    </form>
</div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Breaking News Area -->
                    <div class="col-12 col-sm-8">
                        <div class="breaking-news-area">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><a th:href="@{/back-end-homepage}">Hello Staff!</a></li>
                                    <li><a th:href="@{/back-end-homepage}">Hello Universe!</a></li>
                                    <li><a th:href="@{/back-end-homepage}">Hello Earth!</a></li>
                                    <li><a th:href="@{/back-end-homepage}">Hello DoBuy!</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <a th:href="@{/back-end-homepage}" class="original-logo"><img src="back-end-home/img/core-img/logo noback.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nav Area -->
        <div class="original-nav-area" id="stickyNav">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu" id="originalNav">
                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a class="dropdown-font" th:href="@{/back-end-homepage}">首頁</a></li>
                                    <li><a href="#">會員管理</a>
                                        <ul class="dropdown">
                                            <li><a href="/back-end/member">會員管理</a></li>
                                            <li><a href="/back-end/memberorder">會員管理訂單管理</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="#">櫃位管理</a>
                                        <ul class="dropdown">
                                            <li><a href="#">櫃位管理專區</a></li>
                                            <li><a href="#">櫃位商城開設審核</a></li>

                                        </ul>
                                    </li>
                                    
                                    <li><a href="#">商城系統</a>
                                        <ul class="dropdown">
                                            <li><a th:href="@{/storecarousel/listAllStorecarouseltest}">首頁輪播圖管理</a></li>
                                            <li><a th:href="@{/goodstype/listAllGoodsType}">商品分類管理</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="#">商品審核系統</a>
                                        <ul class="dropdown">
                                            <li><a th:href="@{/goods/listAllCheckStatus}">一般商品審核</a></li>
                                            <li><a href="#">二手商品審核</a></li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="#">管理員資料</a>
                                        <ul class="dropdown">
                                          <li>
   										 <a th:href="@{'/manager/manager?managerNo=' + ${session.managerNo}}">管理員資料管理</a>
										</li>

                                        </ul>
                                    </li>

                                    <li><a href="#">優惠管理</a>
                                        <ul class="dropdown">
                                            <li><a href="#">平台優惠活動管理</a></li>
                                            <li><a th:href="@{/coupon/approve}">廠商優惠券管理</a></li>
                                            <li><a href="#">優惠訊息通知</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#">客服系統</a>
                                        <ul class="dropdown">
                                            <li><a href="#">FAQ專案管理</a></li>
                                            <li><a href="#">客服訊息回覆</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                <!-- Search Form  -->
<!--                                 <div id="search-wrapper"> -->
<!--                                     <form action="#"> -->
<!--                                         <input type="text" id="search" placeholder="Search something..."> -->
<!--                                         <div id="close-icon"></div> -->
<!--                                         <input class="d-none" type="submit" value=""> -->
<!--                                     </form> -->
<!--                                 </div> -->
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- ##### Blog Wrapper Start ##### -->
    <div class="blog-wrapper section-padding-100 clearfix">
        <div class="container">
            <div class="row align-items-end">
                <!-- Single Blog Area -->
                <div class="col-12 col-lg-4">
                    <div class="single-blog-area clearfix mb-100">
                        <!-- Blog Content -->
                        <div class="single-blog-content">
                            <div class="line"></div>
                            <a href="#" class="post-tag">公告</a>
                            <h4><a href="#" class="post-headline">(美洲)內部人才轉調徵選公告 - 行銷部門資深企劃專員職缺</a></h4>
                            <p>因應國外部門業務拓展，行銷部門現正進行內部人才招募，誠徵資深企劃專員一名。具備三年以上企劃經驗者優先考慮。有意者請於12/20前向人資部門提交履歷及自薦信。</p>
                            <a href="#" class="btn original-btn">更多</a>
                        </div>
                    </div>
                </div>
                <!-- Single Blog Area -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-catagory-area clearfix mb-100">
                        <img src="back-end-home/img/blog-img/usa.webp" alt="">

                    </div>
                </div>

            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">

                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.2s"
                        data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="single-blog-thumbnail">
                                    <img src="back-end-home/img/blog-img/class.webp" alt="">
                                    <div class="post-date">
                                        <a href="#">27日 <span>12月</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">最新消息</a>
                                    <h4><a href="#" class="post-headline">課程通知</a></h4>
                                    <p>2024年第一季教育訓練課程表 人資部規劃2025年第一季(1-3月)教育訓練課程如下，請各部門主管協助安排人員參訓。
                                    </p>
                                    <a href="#" class="btn original-btn">更多</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.3s"
                        data-wow-duration="1000ms">
                        <div class="row align-items-center">
                            <div class="col-12 col-md-6">
                                <div class="single-blog-thumbnail">
                                    <img src="back-end-home/img/blog-img/foodmeeting.webp" alt="">
                                    <div class="post-date">
                                        <a href="#">27 <span>12月</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Blog Content -->
                                <div class="single-blog-content">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">活動公告</a>
                                    <h4><a href="#" class="post-headline">餐敘活動</a></h4>
                                    <p>為促進各部門同仁交流聯誼，本公司將舉辦2024年第一季部門聯誼餐敘活動，詳細資訊如下：
                                    </p>
                                    <a href="#" class="btn original-btn">更多</a>

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Blog Area  -->
                    <div class="single-blog-area blog-style-2 mb-50 wow fadeInUp" data-wow-delay="0.4s"
                        data-wow-duration="1000ms">
                        <div class="row">
                            <div class="col-12">
                                <div class="single-blog-thumbnail">
                                    <img src="back-end-home/img/blog-img/event.webp" alt="">
                                    <div class="post-date">
                                        <a href="#">20 <span>12月</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <!-- Blog Content -->
                                <div class="single-blog-content mt-50">
                                    <div class="line"></div>
                                    <a href="#" class="post-tag">每週期程</a>
                                    <h4><a href="#" class="post-headline">2024年12月23日至12月27日重大會議活動</a></h4>
                                    <p>12月23日(週一)
                                        平台年終特賣活動開跑
                                        聖誕節配送高峰期開始,物流配送時間延長2-3天
                                        客服人力增加30%應對假期詢問高峰
                                        啟動節慶詐騙防範機制</p>
                                    <a href="#" class="btn original-btn">更多</a>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- ##### Blog Wrapper End ##### -->

        <!-- ##### Instagram Feed Area Start ##### -->
        <div class="instagram-feed-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="insta-title">
                            <h5>Happy Staff Happy Company</h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Instagram Slides -->
            <div class="instagram-slides owl-carousel">
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="back-end-home/img/instagram-img/1.png" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart fa-beat-fade"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="back-end-home/img/instagram-img/2.png" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart fa-beat-fade"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="back-end-home/img/instagram-img/3.png" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart fa-beat-fade"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="back-end-home/img/instagram-img/4.png" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart fa-beat-fade"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="back-end-home/img/instagram-img/5.png" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart fa-beat-fade"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="back-end-home/img/instagram-img/6.png" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart fa-beat-fade"></i></a>
                    </div>
                </div>
                <!-- Single Insta Feed -->
                <div class="single-insta-feed">
                    <img src="back-end-home/img/instagram-img/7.png" alt="">
                    <!-- Hover Effects -->
                    <div class="hover-effects">
                        <a href="#" class="d-flex align-items-center justify-content-center"><i class="fa-solid fa-heart fa-beat-fade"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- ##### Footer Area Start ##### -->
        <footer class="footer-area text-center">
            <div class="container">
                <div class="row">

                </div>
            </div>

            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script>
             All rights reserved | <i class="fa-regular fa-heart fa-bounce"></i> by <a href="#" target="_blank">DOBUY</a>

        </footer>
        <!-- ##### Footer Area End ##### -->

        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="back-end-home/js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="back-end-home/js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="back-end-home/js/bootstrap.min.js"></script>
        <!-- Plugins js -->
        <script src="back-end-home/js/plugins.js"></script>
        <!-- Active js -->
        <script src="back-end-home/js/active.js"></script>

        <script>
            // 當頁面完全載入後執行
            window.addEventListener('load', function () {
                var preloader = document.getElementById('preloader-ex');

                // 加入 'fade-out' class 以啟動淡出動畫
                preloader.classList.add('fade-out');

                // 1秒後完全隱藏 Preloader
                setTimeout(function () {
                    preloader.style.display = 'none';
                }, 1000); // 與動畫時長相同
            });
        </script>
        
		<script>
		    function submitApproval(goodsNo) {
		        if (!goodsNo) {
		            window.location.href = '/goods/listAllCheckStatus';
		            return;
		        }
		
		        const checkStatus = 1;
		        fetch('/goods/updateCheckStatus2', {
		            method: 'POST',
		            headers: {
		                'Content-Type': 'application/x-www-form-urlencoded',
		            },
		            body: 'goodsNo=' + goodsNo + '&checkStatus=' + checkStatus
		        })
		        .then(response => {
		            if (!response.ok) {
		                throw new Error('Network response was not ok');
		            }
		            return response.text();
		        })
		        .then(result => {
		            alert(result);
		            // 可能需要重新加載頁面或更新UI
		            window.location.reload();
		        })
		        .catch(error => {
		            console.error('Error:', error);
		            alert('審核失敗：' + error.message);
		        });
		    }
		</script>
        
</body>

</html>