<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<br><br>
	
	
	<br><br>
	<h5><a th:href="@{/product/product}">product_page</a><br><br></h5>
	
	<br><br>
	<h5><a href='home'>前台主頁</a><br><br></h5>
	
	<br><br>
	<h5><a th:href="@{/addCarousel_page}">addCarousel_page </a><br><br></h5>
	
	<br><br>
	<h5><a href='addProduct_page'>addProduct_page</a><br><br></h5>
	
    <form method="get" th:action="@{/counter/getOneCounter_For_Display}">
	        輸入櫃位編號:
	    <input type="text" name="counterNo" placeholder="請輸入櫃位編號"/>
	    <input type="submit" value="送出">
    </form>
   	<br>

	
	<form method="post" th:action="@{/goods/getOne_For_Display}">
	        輸入商品編號:
	    <input type="text" name="goodsNo" placeholder="輸入商品編號"/>
	    <input type="submit" value="送出">
    </form>
   		<br>
	
	
	<br><br>
	<h5><a href='shop-detail'>shop_detail </a><br><br></h5>
	
	<br><br>
	<h5><a th:href="@{/mem/register}">register</a><br><br></h5>
	
	<br><br>
	<h5><a th:href="@{/mem/login}">login</a><br><br></h5>
<br><br>
	<h5><a th:href="@{/login/Login}">後台login</a><br><br></h5>
<br><br>
	<h5><a th:href="@{/counterorder/select_page}">櫃位訂單</a><br><br></h5>
	
	
</body>
</html>