<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<br><br>
	<h5><a th:href="@{/product/product}">product_page</a><br><br></h5>
	
	<br><br>
	<h5><a href='addCarousel_page'>addCarousel_page </a><br><br></h5>
	
	<br><br>
	<h5><a href='addProduct_page'>addProduct_page</a><br><br></h5>
	
	<ul>
		<li>
    	<form method="post" th:action="@{/goods/getOne_For_Display35}" th:object="${goodsVO}">
	        輸入櫃位編號:
	        <input type="text" name="counterNo" placeholder="請輸入櫃位編號" th:field="*{counterNo}"/>
	        <input type="submit" value="送出">
    	</form>
   		<br>
		</li>
	</ul>
	
	
	
</body>
</html>