<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" /> <!-- ●●css for jquery datatables 用 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
<style>
    .payment-container {
    width: 60%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.card-section {
    text-align: center;
    margin-top: 50px;
}

.no-card-message {
    font-size: 18px;
    color: #666;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.add-add-btn , .add-address-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #ff4500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:20px;
}

.bb{
	display:none;
}
input{
width:70%;
height:30px;
}
</style>


    


<div class="payment-container">
    <h2 >地址資訊</h2>
    
    <div class="card-section">
    <div class="ad">
    <span th:if="${memberVO.memAddress==null}"><h3>無地址資訊</h3></span>
    <span th:if="${memberVO.memAddress!=null}">
     <label>地址：</label>
     <span th:text="${memberVO.memAddress}"></span>
        </span>
        <div class="buttons">
            <button class="add-add-btn">修改地址</button>
        </div>
        </div>
        
        <form action="address" method="post" th:object="${memberVO}" class="add-form bb">
        <div>
			<label>修改地址:</label>
			<input class="addr" type="text" th:field="*{memAddress}" style="border:0px ; font-weight: bold;" /><br/>
			</div>
			<div class="buttons">
            <button type="submit" class="add-address-btn">修改地址</button>
        </div>
			</form>
        
        
    </div>
</div>
<script src="/js/jquery3.7.1.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/slick-carousel/slick/slick.min.js"></script>
<script>
document.querySelector(".add-add-btn").addEventListener("click", function () {
    const onElement = document.querySelector(".add-form");
    onElement.classList.toggle("bb");
    document.querySelector(".ad").classList.toggle("bb");
});

const addvalue = document.querySelector(".addr");
const btn = document.querySelector(".add-address-btn");

btn.addEventListener("click", function (e) {
    const address = addvalue.value.trim();

    // 檢查是否為空
    if (address === "") {
        e.preventDefault();
        alert("地址請勿空白");
        return;
    }

    // 檢查是否只包含中文、英文和數字
    const validPattern = /^[\u4e00-\u9fa5a-zA-Z0-9\s]{1,10}$/;

    if (!validPattern.test(address)) {
        e.preventDefault();
        alert("地址只能包含中文、英文和數字");
        return;
    }else{
    	alert("地址修改成功");
    }
});


</script>