<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<!-- fragment引入 -->
<th:block th:replace="~{back-end/back-end-home/fraghead :: head}"></th:block>


<style type="text/css">
body {
	margin: 1rem 12rem 2rem 12rem;
}
</style>
</head>
<body>
	<!-- fragment引入 -->
	<header th:block th:replace="~{back-end/back-end-home/fraghead :: header}"></header>


<table id="example" class="display" style="width: 100%">
  <thead >
	<tr style="background-color:#CCCCFF">
		<th>計數</th>
		<th>平台優惠編號</th>
		<th>優惠名稱</th>
		<th>優惠內容</th>
		<th>折扣比率</th>
		<th>優惠狀態</th>
		<th>使用條件</th>
		<th>建立時間</th>
		<th>更新時間</th>
		<th>起始日</th>
		<th>到期日</th>
		<th>修改</th>
		<th>刪除</th>
	</tr>
  </thead>
	
  <tbody>
		<th:block th:each="discountVO : ${discountListData}">
			<tr>
				<td th:text="${discountVOStat.count}"></td>
				<td th:text="${discountVO.disNo}"></td>
				<td th:text="${discountVO.disTitle}"></td>
				<td th:text="${discountVO.disContext}"></td>
				<td th:text="${discountVO.disRate}"></td>
				<td th:text="${discountVO.disStatus == 0 ? '尚未開放' : (discountVO.disStatus == 1 ? '使用中' : '過期')}"></td>
				<td th:text="${discountVO.descLimit}"></td>
				<td th:text="${#dates.format(discountVO.createdAt, 'yyyy-MM-dd')}"></td>
				<td th:text="${#dates.format(discountVO.updatedAt, 'yyyy-MM-dd')}"></td>
				<td th:text="${#dates.format(discountVO.disStart, 'yyyy-MM-dd')}"></td>
				<td th:text="${#dates.format(discountVO.disEnd, 'yyyy-MM-dd')}"></td>

				<td>
				  <form method="post" th:action="@{/discount/getOne_For_Update}" style="margin-bottom: 0px;">
				     <input type="submit" value="修改">
				     <input type="hidden" name="disNo" th:value="${discountVO.disNo}"></form>			
				</td>
				<td>
				  <form method="post" th:action="@{/discount/delete}" style="margin-bottom: 0px;">
				     <input type="submit" value="刪除">
				     <input type="hidden" name="disNo" th:value="${discountVO.disNo}"></form>
				
				</td>
			</tr>
		</th:block>
  </tbody>
</table>
	  <ul>
		  <li><h5><a th:href="@{/discount/addDiscount}">Add1</a> a new Discount.</h5></li>
		  <li><h5><a href='/discount/addDiscount'>Add2</a> a new Discount.</h5></li>
		  <li><h5><a th:href='addDiscount'>Add3</a> a new Discount.</h5></li>
		  <li><h5><a href='addDiscount'>Add4</a> a new Discount.</h5></li>		  
	  </ul>

	<!-- fragment引入 -->
	<footer th:block th:replace="~{back-end/back-end-home/fraghead :: footer}"></footer>

	<!-- fragment引入 -->
	<th:block th:replace="~{back-end/back-end-home/fraghead :: js}"></th:block>

</body>
</html>
