<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>投訴成功</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="card mt-5">
        <div class="card-header bg-success text-white text-center">
            <h3>投訴成功</h3>
        </div>
        <div class="card-body text-center">
            <p>您的投訴已成功提交，謝謝您的反饋！</p>
            <a href="/customerservice/listAllComplaint" class="btn btn-primary">返回客訴列表</a>
        </div>
    </div>
</div>
</body>
</html>
