<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>優惠券明細新增 - addCouponDetail.html</title>

<head th:insert="~{/back-end/coupondetail/included-fragment}"></head>
<style type="text/css">
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=password], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>優惠券明細新增 - addCouponDetail.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/coupondetail/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3></div>
</nav>

	<div align="center">
		<h3><b>所有欄位皆為必填欄位</b></h3>
		<form th:action="@{insert}" method="post" th:object="${couponDetailVO}">
			
<!-- 			<div> -->
<!-- 			<label>優惠券明細編號:</label> -->
<!-- 			<input type="text" th:field="*{couponDetailNo}" readonly /><br/> -->
<!-- 			</div> -->
			
			<div>
			<label>優惠券編號:</label>
			<input type="text" th:field="*{couponNo}" onclick="hideContent('couponNo.errors');" /><br/>
			<span th:if="${#fields.hasErrors('couponNo')}" th:errors="*{couponNo}" class="error" id="couponNo.errors"></span>
			</div>
			
			<div>
			<label>折扣率:</label>
			<input type="text" th:field="*{disRate}" onclick="hideContent('disRate.errors');" /><br/>
			<span th:if="${#fields.hasErrors('disRate')}" th:errors="*{disRate}" class="error" id="disRate.errors"></span>
			</div>

			<div>
			<label>商品編號:</label>
			<input type="text" th:field="*{goodsNo}" onclick="hideContent('goodsNo.errors');" /><br/>
			<span th:if="${#fields.hasErrors('goodsNo')}" th:errors="*{goodsNo}" class="error" id="goodsNo.errors"></span>
			</div>
			
			<div>
			<label>創建日期:</label>
			<input type="date" th:field="*{createdAt}" onclick="hideContent('createdAt.errors');" /><br/>
			<span th:if="${#fields.hasErrors('createdAt')}" th:errors="*{createdAt}" class="error" id="createdAt.errors"></span>
			</div>
			
			<div>
			<label>更新日期:</label>
			<input type="date" th:field="*{updatedAt}" onclick="hideContent('updatedAt.errors');" /><br/>
			<span th:if="${#fields.hasErrors('updatedAt')}" th:errors="*{updatedAt}" class="error" id="updatedAt.errors"></span>
			</div>
			
			<div>
		    <label>優惠券條件:</label>
		    <input type="text" th:field="*{counterContext}" onclick="hideContent('counterContext.errors');" /><br/>
		    <span th:if="${#fields.hasErrors('counterContext')}" th:errors="*{counterContext}" class="error" id="counterContext.errors"></span>
			</div>
			
			<div>
				<div></div>
				<div><button type="submit" id="submit"> 送出新增 </button></div>
				<div></div>
			</div>		
		</form>
	</div>

<script type="text/javascript">
//清除提示信息

function hideContent(d) {
     document.getElementById(d).style.display = "none";
}


</script>

</body>
</html>
