<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員登入</title>
    <link rel="stylesheet" th:href="@{/member/css/forgetPassword.css}">
 
</head>
<body>
    <!-- Logo -->
    <img th:src="@{/counterPage/img/core-img/logo-noback.png}" alt="Logo" class="logo">

    <!-- 容器 -->
    <div class="container">
        <!-- 標題 -->
        <h3 class="title">忘記密碼</h3>
		<br>
        <!-- 錯誤訊息區域 -->
        <div th:if="${errorMsgs}" class="error-container">
            <!-- 遍歷錯誤信息並顯示 -->
            <div th:each="errorMsg : ${errorMsgs}" class="error">
                <span th:text="${errorMsg}"></span>
            </div>
        </div>

        <!-- 表單 -->
        <div class="mail-container">
			    <label for="memEmail" id="p-mail">*會員信箱:</label>
			    <input type="email" id="memEmail" placeholder="請輸入信箱" />
			    <button type="button" id="firstButton" class="email-button" onclick="sendVerificationCode()">發送驗證碼</button>
			    <br>
			    <br>
			    <!-- 驗證碼輸入區域，初始為隱藏 -->
			    <div id="verification-section" style="display: none; margin-top: 10px;">
			        <input type="text" id="memEmailConfirm" placeholder="請輸入驗證碼" />
			        <button type="button" id="sendCodeButton" class="email-button" onclick="verifyCode()">驗證</button>
			   </div>
			  
			<form th:action="@{/mem/updatePassword}" method="post" th:object="${memberVO}"
				class="updatePassword-form"> 
			   <div class="form-group" style="display: none;">
			        <label for="memAccount" class="form-label">*會員帳號:</label>
			        <input type="text" id="memAccount" class="form-input" />
			   </div>
			   <br>
			   <br>
			   
			   <div class="form-group" style="display: none;">
			        <label for="memPassword" class="form-label">*會員密碼:</label>
			       	<input type="password" id="memPassword" name="memPassword" class="form-input" />
			   </div>
			   <br>
			   <br>
			   
			   <div class="form-group" style="display: none;">
			        <label for="memPassword" class="form-label">*確認密碼:</label>
			       	<input type="password" id="confirmMemPassword" name="confirmMemPassword" class="form-input" />
			   </div>
			   <button type="submit" class="form-button" style="display: none;">提交</button>
			</form>
		</div>
		


    </div>
    	
    	<script th:src="@{/member/js/forgetPassword.js}"></script>
</body>
</html>
