<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>會員登入</title>
    <link rel="stylesheet" th:href="@{/member/css/login.css}">
 
</head>
<body>
    <!-- Logo -->
    <a th:href="@{/home}" title="點擊跳轉">
    	<img th:src="@{/counterPage/img/core-img/logo-noback.png}" alt="Logo" class="logo">
	</a>
    <!-- 容器 -->
    <div class="container">
    
        <div style="text-align: center; margin-bottom: 30px;">
		    <!-- 標題置中且放大 -->
		    <h3 style="margin: 0; font-size: 36px;">會員登入</h3>
		</div>
		
		<!-- 左右文字分開行，左對齊和右對齊 -->
		<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;">
		    <a th:href="@{/counter/addCounter}">註冊成為櫃位夥伴</a>
		</div>
		
        <!-- 錯誤訊息區域 -->
        <div th:if="${errorMsgs}" class="error-container">
            <!-- 遍歷錯誤信息並顯示 -->
            <div th:each="errorMsg : ${errorMsgs}" class="error">
                <span th:text="${errorMsg}"></span>
            </div>
        </div>

        <!-- 表單 -->
        <form th:action="@{/mem/loginCheck}" method="post" th:object="${memberVO}" class="register-form">
            <label for="memAccount" class="form-label">會員帳號:</label>
            <input type="text" id="memAccount" th:field="*{memAccount}" class="form-input" />
            <span th:if="${#fields.hasErrors('memAccount')}" th:errors="*{memAccount}" class="error"></span>
            <br>

            <label for="memPassword" class="form-label">會員密碼:</label>
            <input type="password" id="memPassword" th:field="*{memPassword}" class="form-input" />
            <span th:if="${#fields.hasErrors('memPassword')}" th:errors="*{memPassword}" class="error"></span>
            <br>

            <button type="submit" class="form-button">登入</button>
        </form>

        <!-- 註冊和忘記密碼鏈接 -->
        <div style="margin-top: 20px; text-align: center;">
            <a th:href="@{/mem/register}" style="margin-right: 15px;">註冊</a>
            <a th:href="@{/mem/toForgetPassword}">忘記密碼</a>
        </div>
    </div>
</body>
</html>
