<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>我的最愛清單</title>
<link rel="stylesheet" th:href="@{/member/css/myFavoriteList.css}">

</head>
<body>
	<!-- Logo -->
	<a th:href="@{/home}" title="點擊跳轉">
    	<img th:src="@{/counterPage/img/core-img/logo-noback.png}" alt="Logo" class="logo">
	</a>
	
	<!-- 容器 -->
	<div class="container">
		<!-- 標題 -->
		<h3 class="title">我的最愛清單</h3>
		
		
		<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px; font-size:18px">
		    <a href="javascript:void(0);" onclick="history.back();" class="btn">返回上一頁</a>
		</div>
		<div th:fragment="myFavoriteFragment">
		<!-- 欄位名稱 -->
		<div class="product-row"
			style="font-weight: bold; border-bottom: 2px solid #ccc;">
			<div class="t35-1">商品圖片</div>
			<div class="t35-2">商品名稱</div>
			<div class="t35-3">商品價格</div>
		</div>

		<!-- 商品內容 -->
	
				
		<div class="product-row" th:each="goodsLightVO : ${goodsLightVO}">
		    <form th:action="@{/counter/getOneGoods}" method="get" class="product-form">
		        <input type="hidden" name="goodsNo" th:value="${goodsLightVO.goodsNo}">
		        <button type="submit" class="product-link">
		            <!-- 商品图片 -->
		            <span class="product-image">
		                <img th:src="'data:image/png;base64,' + ${goodsLightVO.base64Image}" alt="商品图片" />
		            </span>
		            <!-- 商品名称 -->
		            <span class="product-name" th:text="${goodsLightVO.goodsName}"></span>
		            <!-- 商品价格 -->
		            <span class="product-price" th:text="'$' + ${goodsLightVO.goodsPrice}"></span>
		        </button>
		    </form>
		    <span>
			     <img th:src="@{/counterPage/img/pic/trash.png}" 
			     onclick="removeGoods(this)" th:attr="data-goodsNo=${goodsLightVO.goodsNo}"
			     class="trash" alt="trash" style="max-width: 150px;">	            
			     
            </span>
		</div>
	</div>
</div>
	<script th:src="@{/member/js/myFavorite.js}"></script>
</body>
</html>
