<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>購物車資料新增 - addShoppingCartList.html</title>

<head th:insert="~{/front-end/shoppingcartlist/included-fragment}"></head>
<style type="text/css">
    button {
        padding: 5px;
    }
    form {
        display: table;
    }
    form div {
        display: table-row;
    }
    label, input, span, select {
        display: table-cell;
        margin: 5px;
        text-align: left;        
    }
    input[type=text], input[type=number], input[type=date], select {
        width: 200px;
        margin: 5px;
    }
    form div div {
        display: table-cell;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
    <div align="center"> 
        <h2>購物車資料新增 - addShoppingCartList.html</h2>
        <h3><a class="navbar-brand" th:href="@{/shoppingcartlist/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3>
    </div>
</nav>

<div align="center">
    <h3><b>所有欄位皆為必填欄位</b></h3>
    <form th:action="@{insert}" method="post" th:object="${shoppingCartListVO}" enctype="multipart/form-data">
    
        
        <!-- 會員編號 -->
        <div>
            <label>會員編號:</label>
            <input type="number" th:field="*{memNo}" onclick="hideContent('memNo.errors');" /><br/>
            <span th:if="${#fields.hasErrors('memNo')}" th:errors="*{memNo}" class="error" id="memNo.errors"></span>
        </div>
        
        <!-- 商品編號 -->
        <div>
            <label>商品編號:</label>
            <input type="number" th:field="*{goodsNo}" onclick="hideContent('goodsNo.errors');" /><br/>
            <span th:if="${#fields.hasErrors('goodsNo')}" th:errors="*{goodsNo}" class="error" id="goodsNo.errors"></span>
        </div>
        
        <div>
		    <label>商品主圖(必填):</label>
		    <input type="file" id="gpPhotos1" th:field="*{gpPhotos1}" onclick="previewImage('gpPhotos1')" onchange="hideContent('gpPhotos1.errors');"  />
		    <span class="error" th:utext="${errorMessage}" id="gpPhotos1.errors">${errorMessage}</span>
		    <div id="blobHolder1"></div> <!-- 顯示照片1的預覽 -->
		</div>
		
        <!-- 商品名稱 -->
        <div>
            <label>商品名稱:</label>
            <input type="text" th:field="*{goodsName}" onclick="hideContent('goodsName.errors');" /><br/>
            <span th:if="${#fields.hasErrors('goodsName')}" th:errors="*{goodsName}" class="error" id="goodsName.errors"></span>
        </div>

        <!-- 商品價格 -->
        <div>
            <label>商品價格:</label>
            <input type="number" th:field="*{goodsPrice}" onclick="hideContent('goodsPrice.errors');" /><br/>
            <span th:if="${#fields.hasErrors('goodsPrice')}" th:errors="*{goodsPrice}" class="error" id="goodsPrice.errors"></span>
        </div>

        <!-- 商品數量 -->
        <div>
            <label>商品數量:</label>
            <input type="number" th:field="*{goodsNum}" onclick="hideContent('goodsNum.errors');" /><br/>
            <span th:if="${#fields.hasErrors('goodsNum')}" th:errors="*{goodsNum}" class="error" id="goodsNum.errors"></span>
        </div>

        <!-- 訂單總金額 -->
        <div>
            <label>訂單總金額:</label>
            <input type="number" th:field="*{orderTotalprice}" onclick="hideContent('orderTotalprice.errors');" /><br/>
            <span th:if="${#fields.hasErrors('orderTotalprice')}" th:errors="*{orderTotalprice}" class="error" id="orderTotalprice.errors"></span>
        </div>

        <!-- 提交按鈕 -->
        <div>
            <div></div>
            <div><button type="submit" id="submit">送出新增</button></div>
            <div></div>
        </div>        
    </form>

</div>

<!-- JavaScript part -->
<script type="text/javascript">
//清除提示信息
function hideContent(d) {
     document.getElementById(d).style.display = "none";
}

//照片上傳-預覽用
var filereader_support = typeof FileReader != 'undefined';
if (!filereader_support) {
    alert("No FileReader support");
}

acceptedTypes = {
    'image/png': true,
    'image/jpeg': true,
    'image/gif': true
};

//修改 previewImage 函式，接受 inputId 參數來處理不同的上傳欄位
function previewImage(inputId) {
    var upfile = document.getElementById(inputId);  // 獲取對應的 input 元素
    var index = inputId.replace(/\D/g, '');  // 使用正則表達式獲取數字部分
    var blobHolder = document.getElementById('blobHolder' + index);  // 根據數字部分動態選擇 blobHolder

    // 只有在 file input 改變時才執行
    upfile.addEventListener("change", function(event) {
        var files = event.target.files || event.dataTransfer.files;
        for (var i = 0; i < files.length; i++) {
            previewfile(files[i], blobHolder);  // 傳遞 file 和對應的預覽區域
        }
    }, false);
}

// 修改 previewfile 函式，將預覽顯示的邏輯移到這裡
function previewfile(file, blobHolder) {
    // 檢查檔案類型是否符合要求
    if (filereader_support === true && acceptedTypes[file.type] === true) {
        var reader = new FileReader();
        reader.onload = function(event) {
            var image = new Image();
            image.src = event.target.result;
            image.width = 100;
            image.height = 75;
            image.border = 2;
            // 如果預覽區域已經有舊圖片，先清除
            if (blobHolder.hasChildNodes()) {
                blobHolder.removeChild(blobHolder.childNodes[0]);  // 移除舊的圖片預覽
            }
            blobHolder.appendChild(image);  // 顯示新的圖片預覽
        };
        reader.readAsDataURL(file);  // 讀取圖片
        document.getElementById('submit').disabled = false;  // 啟用提交按鈕
    } else {
        // 若文件格式不符，顯示錯誤訊息
        blobHolder.innerHTML = "<div style='text-align: left;'>" + "● filename: " + file.name
                + "<br>" + "● ContentType: " + file.type
                + "<br>" + "● size: " + file.size + "bytes"
                + "<br>" + "● 上傳ContentType限制: <b><font color=red>image/png、image/jpeg、image/gif</font></b></div>";
        document.getElementById('submit').disabled = true;  // 禁用提交按鈕
    }
}


</script>

</body>
</html>
