<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>購物車資料 - listOneShoppingCartList.html</title>

<head th:insert="~{/front-end/shoppingcartlist/included-fragment}"></head>
<style type="text/css">
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
	<div align="center">
		<h2>購物車資料 - listOneShoppingCartList.html</h2>
		<h3><a class="navbar-brand" th:href="@{/shoppingcartlist/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3>
	</div>
</nav>

<div align="center" th:fragment="listOneShoppingCartList-div"> <!-- 此div被select_page.html第158行insert用 -->
	<h3><span>查詢結果 :</span></h3>
	<span>購物車編號:</span><span th:text="${shoppingCartListVO.shoppingcartListNo}"></span><br/>
	<span>會員編號:</span><span th:text="${shoppingCartListVO.memNo}"></span><br/>
	<span>商品編號:</span><span th:text="${shoppingCartListVO.goodsNo}"></span><br/>
	<span>商品名稱:</span><span th:text="${shoppingCartListVO.goodsName}"></span><br/>
	<span>商品單價:</span><span th:text="${shoppingCartListVO.goodsPrice}"></span><br/>
	<span>商品數量:</span><span th:text="${shoppingCartListVO.goodsNum}"></span><br/>
	<span>訂單總金額:</span><span th:text="${shoppingCartListVO.orderTotalprice}"></span><br/>
</div>

</body>
</html>
