<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>購物車資料修改 - update_shoppingcartlist_input.html</title>

<head th:insert="~{/front-end/shoppingcartlist/included-fragment}"></head>
<style type="text/css">
	button {
		padding: 5px;
	}
	form {
		display: table;
	}
	form div {
		display: table-row;
	}
	label, input, span, select {
		display: table-cell;
		margin: 5px;
		text-align: left;		
	}
	input[type=text], input[type=number], select, textarea {
		width: 200px;
		margin: 5px;
	}
	form div div {
		display: table-cell;
	}
	.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>購物車資料修改 - update_shoppingcartlist_input.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/shoppingcartlist/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁</a></h3></div>
</nav>

	<div align="center">
		<h3><b>所有欄位皆為必填欄位</b></h3>
		<form th:action="@{update}" method="post" th:object="${shoppingCartListVO}" enctype="multipart/form-data">
		
			<div>
			<label>購物車編號:</label>
			<input type="text" th:field="*{shoppingcartListNo}" style="border:0px ; font-weight: bold;" readonly /><br/>
			</div>
			
			<div>
			<label>會員編號:</label>
			<input type="number" th:field="*{memNo}" onclick="hideContent('memNo.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('memNo')}" th:errors="*{memNo}" class="error" id="memNo.errors"></span>
			</div>
			
			<div>
			<label>商品編號:</label>
			<input type="number" th:field="*{goodsNo}" onclick="hideContent('goodsNo.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('goodsNo')}" th:errors="*{goodsNo}" class="error" id="goodsNo.errors"></span>
			</div>
			
			<div>
			    <label>商品主圖(必填):</label>
			    <input type="file" th:field="*{gpPhotos1}" multiple="multiple" onchange="previewImage(event, 'blob_holder1')" /><br/>
			    <div id="blob_holder1"></div>
			</div>
			
			<div>
			<label>商品名稱:</label>
			<input type="text" th:field="*{goodsName}" onclick="hideContent('goodsName.errors');" /><br/>
			<span  th:if="${#fields.hasErrors('goodsName')}" th:errors="*{goodsName}" class="error" id="goodsName.errors"></span>
			</div>

			<div>
			<label>商品單價:</label>
			<input type="number" th:field="*{goodsPrice}" onclick="hideContent('goodsPrice.errors');" min="1" /><br/>
			<span  th:if="${#fields.hasErrors('goodsPrice')}" th:errors="*{goodsPrice}" class="error" id="goodsPrice.errors"></span>
			</div>
			
			<div>
			<label>商品數量:</label>
			<input type="number" th:field="*{goodsNum}" onclick="hideContent('goodsNum.errors');" min="1" /><br/>
			<span  th:if="${#fields.hasErrors('goodsNum')}" th:errors="*{goodsNum}" class="error" id="goodsNum.errors"></span>
			</div>
			
			<div>
			<label>訂單總金額:</label>
			<input type="number" th:field="*{orderTotalprice}" onclick="hideContent('orderTotalprice.errors');" min="1" /><br/>
			<span  th:if="${#fields.hasErrors('orderTotalprice')}" th:errors="*{orderTotalprice}" class="error" id="orderTotalprice.errors"></span>
			</div>
			
			<div>
				<div></div>
				<div><button type="submit" id="submit">送出修改</button></div>
				<div></div>
			</div>		
		</form>
	
	</div>

<!-- JavaScript part -->
<script type="text/javascript">
function previewImage(event, blobHolderId) {
    var files = event.target.files;
    var blobHolder = document.getElementById(blobHolderId);  // 使用傳入的 blobHolderId 參數

    // 清空現有預覽
    blobHolder.innerHTML = '';

    for (var i = 0; i < files.length; i++) {
        var file = files[i];

        if (file && file.type.startsWith('image/')) {
            var reader = new FileReader();

            reader.onload = function(e) {
                var img = document.createElement("img");
                img.src = e.target.result;
                img.width = 100;
                img.height = 75;
                img.style.margin = '5px';

                blobHolder.appendChild(img);  // 在對應的 blobHolder 中顯示預覽
            };

            reader.readAsDataURL(file);
        } else {
            blobHolder.innerHTML = "<span style='color: red;'>请选择图片文件（jpg, jpeg, png, gif）</span>";
        }
    }
}
</script>

</body>
</html>
