.container {
  max-width: 960px;
}
/* 左側購物車頁版面設置 */
.col-md-7.col-lg-8 {
margin:0 0 0 180px;
  border: 2px solid #ccc; /* 設定邊框，顏色為灰色，寬度為 2px */
  border-radius: 15px; /* 設定圓角，數字越大圓角越圓 */
  padding: 30px 15px;
  background-color: #fff9f6f7; /* 設置容器背景色為淺灰白色 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 加入輕微的陰影效果來讓框架看起來更立體 */
}
/*  右側顯示購物車內容  */
/* .col-md-5.order-md-last, .col-lg-4.order-md-last { */
/*   padding: 30px 15px; */
/*   background-color: #fff9f6f7; 設置右側區塊背景色為淺灰白色 */
/* } */