<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>優惠券明細資料 - listOneCouponDetail.html</title>

<head th:insert="~{/vendor-end/coupondetail/included-fragment}"></head>
<style type="text/css">
    span {
		display: inline-block;
		width: 150px;
		text-align: left;
		font-weight: bold;
	}
</style>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>優惠券明細資料 - listOneCouponDetail.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/coupondetail/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

	<div align="center" th:fragment="listOneCouponDetail-div"> <!-- 此div可供其他頁面insert用 -->
		<h3><span>查詢結果 :</span></h3>
		<span>優惠券明細編號:</span><span th:text="${couponDetailVO.couponDetailNo}"></span><br/>
		<span>優惠券編號:</span><span th:text="${couponDetailVO.couponNo}"></span><br/>
		<span>折扣率:</span><span th:text="${couponDetailVO.disRate}"></span><br/>
		<span>商品編號:</span><span th:text="${couponDetailVO.goodsNo}"></span><br/>
		<span>創建日期:</span><span th:text="${#dates.format(couponDetailVO.createdAt, 'yyyy-MM-dd')}"></span><br/>
		<span>更新日期:</span><span th:text="${#dates.format(couponDetailVO.updatedAt, 'yyyy-MM-dd')}"></span><br/>
		<span>優惠券條件:</span><span th:text="${couponDetailVO.counterContext}"></span><br/>
	</div>

</body>
</html>
