<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="/slick-1.8.1/slick/slick-theme.css" />

    <link rel="stylesheet" href="/css/homepage.css">
      

</head>
<body>
    <header>
        <div class="header">

            <div class="logo">
                
                <img src="images/logo noback.png"   alt="logo" class="logo">

                
            </div>
            
            <div class="header_bar">

                <div class="search">
                    
                        <input type="text" placeholder="Search..." class="search" action="">
                    
                    
                        <button class="search_button" name="search">
                        </button>
                        <img src="images/magnifying-glass-dollar-solid.svg" alt="Search">
                        
                    

                </div>
                
                <div class="nav_bar">

                    <div class="head"> 
                        <a href="homepage.html">Home</a>
                        <a href="#services">二手商城</a>
                        <a href="#class">商品分類</a>
                       
                    </div>

                </div>

            </div>

            <div class="icon_area">    
                <div class="icons">
                    
                    <a class="icons" href="member.html"><img src="images/會員中心.png" alt="User"></a>
                    <a class="icons" href="login.html"><img src="images/log-in.png" alt="Login"></a>
                    <a class="icons" href="#"><img src="images/聊天室(FAQ 客服).png" alt="Chat"></a>
                    <a class="icons" href="#"><img src="images/購物車.png" alt="Cart"></a>
                    
                </div>
                
                <div class="coupon_area">
                    
                    <a class="coupon"href="#"><img src="images/優惠卷領取頁面圖示.png" alt="coupon"></a>
                    
                </div>
                
            </div>
            
            
            
        </div>
    </header>
     
  

    <div class="slider">
        <img src="/images/banner sample.png" alt="">
        <img src="/images/banner sample.png" alt="">
        <img src="/images/banner sample.png" alt="">
        <img src="/images/banner sample.png" alt="">
        <img src="/images/banner sample.png" alt="">
        
    </div> 
    
    <div class="goods_body">

        <div class="goods_list">
            <p>商品分類</p>
            <ul>
                <li>11111111</li>
                <li>22222222</li>
                <li>33333333</li>
                <li>44444444</li>
                <li>55555555</li>
                <li>66666666</li>
                <li>77777777</li>
                <li>88888888</li>
                <li>77777777</li>
                <li>77777777</li>
            </ul>
            
        </div>

        <div class="bestsell_goods" >
           
            <div class="goods" id="1">
                <img src="/images/Heart.png" alt="Heart">
                <img src="/images/Designer.jpeg" alt="goods">
            </div>
            <div class="goods" id="2">
                <img src="/images/Heart.png" alt="Heart">
                <img src="/images/Designer.jpeg" alt="goods">
            </div>
            <div class="goods" id="3">
                <img src="/images/Heart.png" alt="Heart">
                <img src="/images/Designer.jpeg" alt="goods">
            </div>
            <div class="goods" id="4">
                <img src="/images/Heart.png" alt="Heart">
                <img src="/images/Designer.jpeg" alt="goods">
            </div>
            <div class="goods" id="5">
                <img src="/images/Heart.png" alt="Heart">
                <img src="/images/Designer.jpeg" alt="goods">
            </div>
            <div class="goods" id="6">
                <img src="/images/Heart.png" alt="Heart">
                <img src="/images/Designer.jpeg" alt="goods">
            </div>
            <div class="goods" id="7">
                <img src="/images/Heart.png" alt="Heart">
                <img src="/images/Designer.jpeg" alt="goods">
            </div>
            <div class="goods" id="8">
                <img src="/images/Heart.png" alt="Heart">
                <img src="/images/Designer.jpeg" alt="goods">
            </div>
            <div class="goods" id="9">
                <img src="/images/Heart.png" alt="Heart">
                <img src="/images/Designer.jpeg" alt="goods">
            </div>
            <div class="goods" id="10">
                <img src="/images/Heart.png" alt="Heart">
                <img src="/images/Designer.jpeg" alt="goods">
            </div>
            
        </div>
    </div>

    <footer>
        <div>© 2024 DO BUY. All Rights Reserved.</div>
    </footer> 





    <script type="text/javascript" src="./jquery/jquery3.7.1.js"></script>
    <script src="./slick-1.8.1/slick/slick.js"></script>



    <script>
        $('.slider').slick({
            centerMode:true,
           
            slidesToShow: 1,
            slidesToScroll: 1,
            infinite:true,
            autoplay:true,
            autoplaySpeed: 5000,  
            dots: false,
            arrows: false,
        });

    
        
 // 選取所有 alt="star" 的圖片
const HeartImages = document.querySelectorAll('img[alt="Heart"]');

// 為每顆 alt="star" 的圖片綁定點擊事件
HeartImages.forEach(Heart => {
    Heart.addEventListener('click', function () {
        // 如果尚未激活，則進行激活
        if (!this.dataset.active) {
            this.dataset.active = "true"; // 設置為已激活狀態
            this.src = '/images/Heart Active .png'; // 更換為亮起的圖片
            alert('收藏商品');
        } else {
            // 如果已激活，則取消激活
            delete this.dataset.active; // 移除激活屬性
            this.src = '/images/Heart.png'; // 恢復為暗下的圖片
            alert('取消收藏');
        }
    });
});










    </script>



</body>
</html>


