








<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>所有員工資料 - listAllUsed.html</title>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/dataTables.jqueryui.min.css" /> <!-- ●●css for jquery datatables 用 -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
<link rel="stylesheet" th:href="@{/css/member.css}">
<head th:insert="~{/front-end/used/included-fragment}"></head>



</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		 <div align="center"> <h2>所有員工資料 - listAllUsed.html</h2>
		 <h3><a class="navbar-brand" th:href="@{/used/select_page}"><img th:src="@{/images/back1.gif}">回查詢頁<label th:text="${success}"></label></a></h3></div>
</nav>

		<div th:fragment="usedListFragment">
    <div class="UsedListContainer" id="UsedListContainer">
        <table class="UsedList" id="UsedList" style="width: 100%">
            <thead>
                <tr style="background-color:#CCCCFF">
                    <th class="col-usedNo">編號</th>
                    <th class="col-usedName">名稱</th>
                    <th class="col-classNo">類別</th>
                    <th class="col-usedPrice">價格</th>
                    <th class="col-usedStocks">庫存</th>
                    <th class="col-usedPics">照片</th>
                    <th class="col-usedProDesc">商品描述</th>
                    <th class="col-usedNewness">新舊程度</th>
                    <th class="col-usedState">商品狀態</th>
                    <th class="col-modify">修改</th>
                    <th class="col-delete">刪除</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="usedVO : ${usedListData}">
                    <tr data-used="${usedVO.usedNo}">
                        <td class="col-usedNo" th:text="${usedVO.usedNo}"></td>
                        <td class="col-usedName" th:text="${usedVO.usedName}"></td>
                        <td class="col-classNo">
						    <span th:each="goodsType : ${goodsTypeList}" 
						          th:if="${goodsType.goodstNo == usedVO.classNo}" 
						          th:text="${goodsType.goodstName}">
						    </span>
						</td>
                        
                        <td class="col-usedPrice" th:text="${usedVO.usedPrice}"></td>
                        <td class="col-usedStocks" th:text="${usedVO.usedStocks}"></td>
                        <td class="col-usedPics" th:if="${usedVO.usedPics == null or usedVO.usedPics.isEmpty()}">
                            未上傳照片
                        </td>
                        <td class="col-usedPics" th:if="${usedVO.usedPics != null and !usedVO.usedPics.isEmpty()}">
                            <div class="photo-slider">
                                <div th:each="usedPicVO : ${usedVO.usedPics}">
                                    <img th:src="@{/usedpic/UsedDBGifReader} + '?usedPicNo=' + ${usedPicVO.usedPicNo}" />
                                </div>
                            </div>
                        </td>
                        <td class="col-usedProDesc" th:text="${usedVO.usedProDesc}"></td>
                        <td class="col-usedNewness" th:switch="${usedVO.usedNewness}">
                            <span th:case="0">全新未拆封</span>
                            <span th:case="1">9成新</span>
                            <span th:case="2">7成新</span>
                            <span th:case="3">5成新</span>
                            <span th:case="4">3成新</span>
                        </td>
                        <td class="col-usedState" th:switch="${usedVO.usedState}">
                            <span th:case="0">未上架</span>
                            <span th:case="1">上架</span>
                            <span th:case="2">已刪除</span>
                        </td>
                        <td class="col-modify">
                            <form method="post" th:action="@{/used/getOne_For_Update}" style="margin-bottom: 0px;">
<!--                                 <input type="submit" value="修改"> -->
                                <button type="submit" id=updateUsed>修改</button>
                                <input type="hidden" name="usedNo" th:value="${usedVO.usedNo}">
                            </form>
                        </td>
                        <td class="col-delete">
<!--                             <form method="post" th:action="@{/used/memberdelete}" id="a1-delete" style="margin-bottom: 0px;"> -->
<!--                                 <input type="submit" value="刪除"> -->
                            <button type="submit" id=deleteUsed>刪除</button>
<!--                                 <input type="hidden" name="usedNo" th:value="${usedVO.usedNo}"> -->
<!--                             </form> -->
                            
                        </td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</div>

		
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script type="text/javascript" th:src="@{/js/usedDataTable.js}"></script>
<script>

</script>

</body>
</html>