<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" th:href="@{/slick-1.8.1/slick/slick.css}" />
    <link rel="stylesheet" th:href="@{/slick-1.8.1/slick/slick-theme.css}" />
    <link rel="stylesheet" th:href="@{/css/used_detail.css}">
    <link rel="stylesheet" th:href="@{/css/used_shop_detail.css}">
</head>

<body>
  <header>
    <div class="header">
        <div class="logo">
            <img src="/images/logo noback.png"   alt="logo" class="logo">
        </div>
        <div class="header_bar">
          <div class="search">
            <input type="text" placeholder="Search..." class="search" action="">
            <button class="search_button" name="search">
            </button>
            <img src="/images/magnifying-glass-dollar-solid.svg" alt="Search">
          </div>
          <div class="nav_bar">
            <div class="head"> 
              <a href="#home">Home</a>
              <a href="#about">一般商城</a>
              <a href="#services">二手商城</a>
              <a href="#contact">品牌</a>
              <a href="#class">商品分類</a>
              <a href="#hot">熱銷商品</a>
              <a href="#coupongoods">優惠商品</a>
              <a href="#couponget">優惠券領取</a>
            </div>
          </div>
        </div>

        <div class="icon_area"> 
          <div class="icons">
            <a class="icons" href="#"><img src="/images/會員中心.png" alt="User"></a>
            <a class="icons" href="login.html"><img src="/images/log-in.png" alt="Login"></a>
            <a class="icons" href="#"><img src="/images/聊天室(FAQ 客服).png" alt="Chat"></a>
            <a class="icons" href="#"><img src="/images/購物車.png" alt="Cart"></a>
          </div>
          <div class="coupon_area">
            <a class="coupon"href="#"><img src="/images/優惠卷領取頁面圖示.png" alt="coupon"></a>
          </div>
        </div>
    </div>
</header>

<div class="goods_body">
<div class="goods_list">
  <p>商品分類</p>
  <ul>
      <li>11111111</li>
      <li>22222222</li>
      <li>33333333</li>
      <li>44444444</li>
      <li>55555555</li>
      <li>66666666</li>
      <li>77777777</li>
      <li>88888888</li>
      <li>77777777</li>
      <li>77777777</li>
  </ul>
  
</div>

    <section class="sec1">
		<div class="flex_container">

			<!-- 左邊內容區域 -->
			<div class="items -left">
				<div class="main-img">
					<img th:src="@{/usedpic/UsedDBGifReader} + '?usedPicNo=' + ${usedVO.usedPics[0]?.usedPicNo}" alt="" class="main-img-img">
					<div class="zoom-pup"></div>
					<div class="zoom-div">
						<img th:src="@{/usedpic/UsedDBGifReader} + '?usedPicNo=' + ${usedVO.usedPics[0]?.usedPicNo}" alt="">
					</div>
				</div>
				<div class="spec-list">
					<a href="javascript:;" class="prev"></a> 
					<a href="javascript:;" class="next"></a>
					<div class="spec-items">
						<ul>
							<li th:each="usedPicVO, iterStat : ${usedVO.usedPics}"
							    th:classappend="${iterStat.index == 0} ? 'img-hover'">
							    <img th:src="@{/usedpic/UsedDBGifReader(usedPicNo=${usedPicVO.usedPicNo})}" alt="Goods Image">
							</li>

						</ul>

					</div>
				</div>
			</div>

			<!-- 右邊內容區域 -->
			<div class="items -right">
				<h1 class="title1" th:text="${usedVO.usedName}"></h1>
				<table class="desc_list">
					<tr class="Goods_Price">
						<td class="Goods_Price_0">商品價格</td>
						<td class="Goods_Price_1" th:text="'$' + ${usedVO.usedPrice}"></td>
					</tr>
					<tr class="Coupon_Title">
						<td class="Coupon_Title_0">賣場優惠券</td>
						<td class="Coupon_Title_1" text=""></td>
					</tr>
					<tr class="Goods_Amount">
						<td class="Goods_Amount_0">商品庫存</td>
						<td class="Goods_Amount_1" th:text="${usedVO.usedStocks}"></td>
					</tr>
					<tr class="Goods_Description">
						<td class="Goods_Description_0">商品敘述</td>
						<td class="Goods_Description_1" th:text="${usedVO.usedProDesc}"></td>
					</tr>
					<tr>
						<!-- 表單部分 -->
						<form class="buy_form" action="/shoppingcartlist/add-to-cart" method="POST">
						    <td class="label_item">數量</td>
						    <td><input class="buy_count" value="1" min="1" type="number" name="quantity"></td>
						    <!-- 隱藏欄位傳送商品資料 -->
							<input type="hidden" name="usedPics" th:value="'data:image/png;base64,' + ${usedVO.usedPics[0]?.usedPics}" />
						    <input type="hidden" name="usedName" th:value="${usedVO.usedName}" />
						    <input type="hidden" name="usedPrice" th:value="${usedVO.usedPrice}" />
						    <input type="hidden" name="usedNo" th:value="${usedVO.usedNo}" />
						    <!-- 提交按鈕 -->
						    <tr>
							    <td></td>
							    <td>
							        <button class="shopping_button" type="submit">
							            <img alt="icon-add-to-cart" class="_kL9Hf" th:src="@{https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/b96050554b3be4feea08.svg}">
							            放入購物車
							        </button>
							    </td>
							</tr>
						</form>
				</table>
			</div>
		</div>
	</section>

  
  
  </div>
    <footer>
      <div>© 2024 DO BUY. All Rights Reserved.</div>
    </footer>
    <script src="/js/shop_detail_used.js"></script>
</body>
</html>