<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop_detail_used</title>
    <link rel="stylesheet" th:href="@{/slick-1.8.1/slick/slick.css}" />
    <link rel="stylesheet" th:href="@{/slick-1.8.1/slick/slick-theme.css}" />
    <link rel="stylesheet" th:href="@{/css/used_detail.css}">
    <link rel="stylesheet" th:href="@{/css/used_shop_detail.css}">
</head>

<body>
		
  <header>
    <div class="header">
        <div class="logo">
             <img src="/images/logo noback.png"   alt="logo" class="logo">
        </div>
        <div class="header_bar">
	          <div class="search">
		            <input type="text" placeholder="Search..." class="search" action="">
		            <button class="search_button" name="search">
		            </button>
		            <img src="/images/magnifying-glass-dollar-solid.svg" alt="Search">
	          </div>
          <div class="nav_bar">
            <div class="head"> 
              <a th:href="@{/home}">Home</a>
              <a th:href="@{/goodspage}">一般商城</a>
              <a th:href="@{/usedgoodspage}">二手商城</a>
              <div class="dropdown">
				    <a href="#" class="dropdown-btn">櫃位專區</a>
				    <div class="dropdown-content">
				        <a th:each="counterVO : ${counterVOList}"
				           th:href="@{/counter/getOneCounter_For_Display(counterNo=${counterVO.counterNo})}"
				           th:text="${counterVO.counterCName}">
				        </a>
				    </div>
			 </div>
            </div>
          </div>
        </div>

        <div class="icon_area"> 
          <div class="icons">
          <a class="icons login-only" th:href="@{/mem/login}" th:if="${session.memNo == null}">
				    <img th:src="@{/images/login.png}" alt="Login">
				</a>
				
				<!-- 當 session.memNo 不為 null，顯示其他按鈕 -->
				<a class="icons" th:href="@{/member}" th:if="${session.memNo != null}">
				    <img th:src="@{/images/會員中心.png}" alt="User">
				</a>
				<a class="icons" th:href="@{/mem/logout}" th:if="${session.memNo != null}">
				    <img th:src="@{/images/log-out.png}" alt="Logout">
				</a>
				<a class="icons" th:href="@{/shoppingcartlist/listAllShoppingCartList}" th:if="${session.memNo != null}">
				    <img th:src="@{/images/購物車.png}" alt="Cart">
				</a>
				<a class="icons" th:href="@{/customerservice/addComplaint}" th:if="${session.memNo != null}">
			        <img th:src="@{/images/report.png}" alt="Report">
			    </a>
          </div>
          <div class="coupon_area">
           	<a class="coupon" th:href="@{/front-end/coupon/list}"><img src="/images/優惠卷領取頁面圖示.png"
						alt="coupon"></a>
          </div>
        </div>
    </div>
</header>

<div class="goods_body">
<!-- <div class="goods_list"> -->
<!--   <p>商品分類</p> -->
<!--   <ul> -->
<!--       <li th:each="gg : ${glist}"> -->
<!--                     <p th:attr="data-goodstNo=${gg.goodstNo}" onclick="filterGoods(this)" th:text="${gg.goodstName}"></p> -->
<!--         </li> -->
<!--   </ul> -->
  
<!-- </div> -->

    <section class="sec1">
    <div class="flex_container">
        <div class="items -left">
            <div class="main-img">
				<img th:src="@{/usedpic/UsedDBGifReader(usedPicNo=${usedVO.usedPics[0].usedPicNo})}" alt="" class="main-img-img">
                <div class="zoom-pup"></div>
                <div class="zoom-div">
    			<img th:src="@{/usedpic/UsedDBGifReader(usedPicNo=${usedVO.usedPics[0].usedPicNo})}" alt="">

                </div>
            </div>
            <div class="spec-list">
                <a href="javascript:;" class="prev"></a>
                <a href="javascript:;" class="next"></a>
                <div class="spec-items">
                    <ul>
                         <li th:each="img, iterStat : ${usedVO.usedPics}" th:classappend="${iterStat.index == 0} ? 'img-hover'">
					        <img th:src="@{/usedpic/UsedDBGifReader(usedPicNo=${img.usedPicNo})}" alt="Goods Image">
					    </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="items -right">
            <h1 class="title1" th:text="${usedVO.usedName}"></h1>
            <table class="desc_list">
                <tr class="Goods_Price">
                    <td class="Goods_Price_0">商品價格</td>
                    <td class="Goods_Price_1" th:text="${usedVO.usedPrice}"></td>
                </tr>

                <tr class="Goods_Class">
				    <td class="Goods_Class_0">商品類別 : </td>
				    <td class="Goods_Class_1">
				        <span th:each="type : ${goodsTypeList}" 
				              th:if="${type.goodstNo} == ${usedVO.classNo}" 
				              th:text="${type.goodstName}"></span>
				    </td> 
				</tr>
                
                <tr class="Coupon_Title">
<!--                     <td class="Coupon_Title_0">賣場優惠券</td> -->
                    <td class="Coupon_Title_1" text=""></td>
                </tr>
                <tr class="Goods_Amount">
                    <td class="Goods_Amount_0">商品庫存 :  </td>
                    <td class="Goods_Amount_1" th:text="${usedVO.usedStocks}"></td>
                    
                </tr>
                <tr class="Goods_Description">
                    <td class="Goods_Description_0">商品敘述</td>
                    <td class="Goods_Description_1" th:text="${usedVO.usedProDesc}"></td>
                </tr>
                <tr class="Goods_Description">
                    <td class="Goods_Description_0">新舊程度</td>
                    <td class="col-usedNewness" th:switch="${usedVO.usedNewness}">
                            <span th:case="0">全新未拆封</span>
                            <span th:case="1">9成新</span>
                            <span th:case="2">7成新</span>
                            <span th:case="3">5成新</span>
                            <span th:case="4">3成新</span>
                        </td>
                </tr>
                <tr>
               
                        
                        <td class="label_item">數量</td>

                        <td>
               			<span class="errorblock" style="color: red; font-weight: bold;" th:utext="${errorMessage}"></span>
                    	<form id="add-to-cart-form" class="buy_form" th:action="@{/used/usedBuyCheck}" method="POST">
                        <input type="hidden" name ="memNo"id="memNo" th:value="${memNo}" />
						<input type="hidden" name ="sellerNo" id="sellerNo" th:value="${usedVO.sellerNo}" />
						<input class="buy_count" 
						       value="1" 
						       min="1" 
						       max="${usedVO.usedStocks}" 
						       type="number" 
						       name="usedCount" 
						       oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 5);" required>
                        <input type="hidden" name="usedName" th:value="${usedVO.usedName}" />
                        <input type="hidden" name="usedPrice" th:value="${usedVO.usedPrice}" />
                        <input type="hidden" name="usedNo" th:value="${usedVO.usedNo}" />
						        <button 
						            class="shopping_button" 
						            type="submit" 
						            th:if="${session.memNo != null }">
						            <img alt="icon-add-to-cart" class="_kL9Hf" 
						                 th:src="@{https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/productdetailspage/b96050554b3be4feea08.svg}">
						            直接購買
						        </button>

                    </form>
						</td>
                        <tr>
						    <td>
						        <!-- 當 session.memNo 為空時，顯示提示 -->
						        <span th:if="${session.memNo == null}" style="color: red; font-weight: bold;">
						            若要購買請先登入
						        </span>
						        						
						        <!-- 按鈕僅在 session.memNo 存在且不等於 usedVO.sellerNo 時顯示 -->
						    </td>
						</tr>
                
            </table>
        </div>
    </div>
</section>

 
  </div>
  
    <footer>
      <div>© 2024 DO BUY. All Rights Reserved.</div>
    </footer>
    <script src="/js/shop_detail_used.js"></script>
  
   
</body>
</html>