<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Title -->
    <title>全部輪播資訊 - StoreCarousel</title>

    <!-- Favicon -->
    <link rel="icon" href="back-end-home/img/core-img/logo noback.png">

    <!-- Style CSS -->
    <link rel="stylesheet" href="back-end-home/css/style.css">

	<!-- 套入fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	


</head>
<body>
<form th:action="@{/logout}" method="get">
    
    	
</form>

	<header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <!-- Breaking News Area -->
                    <div class="col-12 col-sm-8">
                        <div class="breaking-news-area">
                            <div id="breakingNewsTicker" class="ticker">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <a th:href="@{back-end-homepage}" class="original-logo"><img src="back-end-home/img/core-img/logo noback.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Nav Area -->	
        <div class="original-nav-area" id="stickyNav"></div>
            <div class="classy-nav-container breakpoint-off"></div>
                <div class="container"></div>
                    <!-- Classy Menu -->
                    <nav class="classy-navbar justify-content-between"></div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu" id="originalNav"></div>
                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
	

	<h3>全部輪播資訊</h3>
	
	 <div class="blog-wrapper section-padding-100 clearfix"></div>
	 </header>
	 
       
	<table>
		<thead>
			<tr>
				<th>輪播資訊編號</th>
                <th>櫃位編號</th>
                <th>平台優惠編號</th>
                <th>輪播時間</th>
                <th>輪播圖片</th>
<!--                 <th>商品編號</th> -->
			</tr>
		</thead>
		<tbody>
			<!-- 循環 carouselList 中的每個 carouselVO -->
			<th:block th:each="storeCarouselVO : ${storeCarouselList}">
				<tr>
					<td th:text="${storeCarouselVO.id}"></td>
					<td th:text="${storeCarouselVO.counterNo}"></td>
					<td th:text="${storeCarouselVO.disNo}"></td>
					<td th:text="${#dates.format(storeCarouselVO.carouselTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
<!-- 					<td th:text="${storeCarouselVO.goodsNo}"></td> -->
					<td>
                        <!-- 顯示 Base64 圖片 -->
                        <img th:src="${'data:image/jpeg;base64,' + storeCarouselVO.base64Image}" alt="輪播圖片" width="150px" />
                    </td>
                    
					
				</tr>
			</th:block>
		</tbody>
	</table>
	<!-- ##### Footer Area End ##### -->

        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="back-end-home/js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="back-end-home/js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="back-end-home/js/bootstrap.min.js"></script>
        <!-- Plugins js -->
        <script src="back-end-home/js/plugins.js"></script>
        <!-- Active js -->
        <script src="back-end-home/js/active.js"></script>

        <script>
            // 當頁面完全載入後執行
            window.addEventListener('load', function () {
                var preloader = document.getElementById('preloader-ex');

                // 加入 'fade-out' class 以啟動淡出動畫
                preloader.classList.add('fade-out');

                // 1秒後完全隱藏 Preloader
                setTimeout(function () {
                    preloader.style.display = 'none';
                }, 1000); // 與動畫時長相同
            });
        </script>
</body>
</html>
